/* ?HTML RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ?THE MAIN SECTION OF THE PAGE */
main {
    background-color: #A9C482;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ?THE MIDDLE OF THE FLOWER ARTWORK */
article.flower {
    z-index: 1;
    width: 150px;
    aspect-ratio: 1 / 1;
    background-color: #A9C482;
    border-radius: 50%;
}
/* ?STYLING THE FLOWER'S PETALS */
main .petal {
    position: absolute;
    z-index: 0;
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #2D696F;
}
/* ?POSITIONING THE FLOWER'S TOP PETAL */
main .petal.top {
    transform: translate(0, -90%);
}
/* ?POSITIONING THE FLOWER'S BOTTOM PETAL */
main .petal.bottom {
    transform: translate(0, 90%);
}
/* ?POSITIONING THE FLOWER'S LEFT PETAL */
main .petal.left {
    transform: translate(-90%, 0);
}
/* ?POSITIONING THE FLOWER'S RIGHT PETAL */
main .petal.right {
    transform: translate(90%, 0);
}