/* ?HTML RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
/* ?SETTING THE FONT SIZE OF THE DOCUMENT */
html {
    font-size: 15px;
}
/* ?STYLING THE MAIN SECTION OF THE PAGE */
main {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    padding: 4rem 2rem 5rem;
    font-weight: 500;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin-inline: auto;
}
/* ?STYLING THE H1 AND OTHER TEXT ELEMENTS WITH THE DARK MAGENTA COLOR */
.purple-text {
    color: hsl(300, 43%, 22%);
}
/* ?STYLING THE HEADING SECTION */
section.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
}
section.heading-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
section.heading-text p {
    color: hsl(300, 10%, 53%);
    font-size: 1.1rem;
}
section.heading-text p, .review-content {
    line-height: 1.5;
}
/* ?STYLING THE STAR REVIEWS AND REVIEWS SECTION */
section.star-reviews, section.reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}
/* ?STYLING THE STAR REVIEWS SECTION */
.star-rating {
    margin-bottom: .625rem;
}
/* STYLES FOR EACH STAR REVIEW COMPONENT */
.star-review {
    border-radius: 6px;
    background-color: hsl(300, 24%, 96%);
    padding-block: 1rem;
}
/* ?STYLING THE REVIEWS SECTION */
.review {
    background-color: hsl(300, 43%, 22%);
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
/* THE HEADING CONTAINING THE IMAGE AND NAME */
.review-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.review-heading img {
    border-radius: 50%;
    width: 40px;
}
.review-heading p {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
/* ?MAKING THE DESIGN RESPONSIVE */
@media (min-width: 900px) {
    main {
        padding: 6rem 2rem;
    }
    section.heading {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10rem;
        text-align: start;
    }
    section.heading-text {
        max-width: 45ch;
    }
    section.heading-text h1 {
        font-size: 3rem;
    }
    section.heading > section {
        flex: 1;
    }
    section.star-reviews {
        max-width: 60ch;
        margin: 0;
        transform: translateX(-4rem);
    }
    .star-review {
        display: flex;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    .star-review:nth-child(2) {
        transform: translateX(2rem);
    }
    .star-review:nth-child(3) {
        transform: translateX(4rem);
    }
    .star-rating {
        margin: 0;
    }
    section.reviews {
        flex-direction: row;
    }
    .review:nth-child(2) {
        transform: translateY(1rem);
    }
    .review:nth-child(3) {
        transform: translateY(2rem);
    }
}
/* ?REMOVING THE INLINE PADDING FOR DESKTOP SCREENS */
@media (min-width: 1201px) {
    main {
        padding-inline: 0;
    }
}