/* ?HTML RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
/* ?DOCUMENT COLORS */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue1: hsl(217, 54%, 11%); /* Main Background */
    --very-dark-blue2: hsl(216, 50%, 16%); /* Card Background */
    --very-dark-blue3: hsl(215, 32%, 27%); /* Line */
    --white: hsl(0, 0%, 100%);
}
/* ?SETTING THE FONT SIZE & STYLING THE DOCUMENT'S BODY */
html {
    font-size: 18px;
}
body {
    background-color: var(--very-dark-blue1);
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}
/* ?STYLING THE NFT CARD */
main {
    background-color: var(--very-dark-blue2);
    border-radius: 1rem;
    padding: 1rem;
    margin: 4rem 1rem;
    max-width: 350px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
                rgba(17, 17, 26, 0.1) 0px 16px 56px, 
                rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
/* ?DEFINING THE STYLES FOR DIFFERENT TEXT COLORS */
.text-white {
    color: var(--white);
    cursor: pointer;
    transition: .3s ease;
    /* ?STYLING FOR WHEN THE TEXT IS HOVERED OVER */
    &:hover,
    &:active {
        color: var(--cyan);
    }
}
.text-blue {
    color: var(--soft-blue);
}
.text-cyan {
    color: var(--cyan);
}
.text-300 {
    font-weight: 300;
}
.text-400 {
    font-weight: 400;
}
.text-600 {
    font-weight: 600;
}
.flex {
    display: flex;
    align-items: center;
}
/* ?STYLING THE SECTION OF THE CARD THAT HOLDS THE MAIN IMAGE */
section.card-image {
    border-radius: 10px;
    height: 55%;
    position: relative;
    cursor: pointer;
    justify-content: center;
    /* ?MAKING THE ICON IMAGE VISIBLE WHEN THE IMAGE IS HOVERED OVER OR CLICKED */
    &:hover > .icon-image,
    &:active > .icon-image {
        visibility: visible;
    }
}
section.card-image > .equilibrium-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
section.card-image > .icon-image {
    position: absolute;
    visibility: hidden;
    transition: .1s ease;
}
section.card-image > div {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    background-color: var(--cyan);
    opacity: 0;
    transition: .3s ease;
    /* ?STYLING FOR WHEN THE DIV IS HOVERED OVER & CLICKED */
    &:hover,
    &:active {
        opacity: .5;
    }
}
/* ?STYLING THE SECTION OF THE CARD THAT HOLDS THE TEXT CONTENT */
section.card-content {
    height: 45%;
}
section.card-content h1 {
    margin-block: 1rem;
}
section.card-content > p {
    line-height: 1.5;
}
section.card-content .card-price {
    margin-block: .89rem .56rem;
    justify-content: space-between;
}
section.card-content .card-price p {
    gap: 5px;
}
section.card-content .card-person {
    gap: 1rem;
    border-top: 1px solid var(--very-dark-blue3);
    padding-top: .89rem;
}
section.card-content .card-person img {
    border-radius: 50%;
    border: 1px solid var(--white);
    width: 30px;
    aspect-ratio: 1 / 1;
}
/* ?MAKING THE DESIGN RESPONSIVE */
@media (min-width: 768px) {
    main {
        margin: 0;
    }
}