/* ?HTML RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ?DOCUMENT DEFAULT FONT SIZE */
html {
    font-size: 15px;
}
/* ?STYLING THE MAIN SECTION OF THE PAGE */
main {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98% );
    color: hsl(229, 6%, 66%);
    padding: 5rem 2rem;
}
/* ?STYLING THE HEADERS */
h1, h2 {
    text-align: center;
    line-height: 1.2;
}
h1 {
    font-weight: 200;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    color: hsl(234, 12%, 34%);
}
h1 span, h3 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
h2 {
    font-weight: 400;
    font-size: 1.125rem;
}
/* ?STYLING THE CARDS SECTION */
section.cards {
    margin-top: 4.5rem;
}
section.cards, .middle-cards {
    display: grid;
    gap: 2rem;
}
/* ?STYLING EACH INDIVIDUAL CARD IN THE CARDS SECTION */
.card {
    border-radius: .625rem;
    box-shadow:
        0.6px 1.9px 4.4px rgba(0, 0, 0, 0.075),
        5px 15px 35px rgba(0, 0, 0, 0.15)
    ;
    padding: 2rem;
}
.card-description {
    margin-bottom: 2rem;
}
.card-image {
    float: right;
}
/* ?STYLING THE BORDER FOR EACH CARD */
.card:nth-child(1) {
    border-top: solid 4px hsl(180, 62%, 55%);
}
.middle-cards .card:nth-child(1) {
    border-top: solid 4px hsl(0, 78%, 62%);
}
.middle-cards .card:nth-child(2) {
    border-top: solid 4px hsl(34, 97%, 64%);
}
.card:nth-child(3) {
    border-top: solid 4px hsl(212, 86%, 64%);
}
/* ?MAKING THE DESIGN RESPONSIVE */
/* TABLET SCREENS */
@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        flex-direction: column;
    }
    h1, h2 {
        max-width: 50%;
    }
    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
}
/* DESKTOP SCREENS */
@media (min-width: 1024px) {
    section.cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.cards {
        max-width: 90%;
    }
    .card, .middle-cards {
        flex: 1;
        width: 350px;
    }
}