/* ?HTML RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
:root { /* ?DOCUMENT COLORS */
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}
body { /* ?STYLING THE BODY */
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
/* ?COLORS FOR THE H1 AND H2 ELEMENTS */
h1, h2, h3, p.name {
    color: var(--dark-blue);
}
h2 {
    font-size: clamp(1.9rem, 4vh, 3rem);
}
p {
    color: var(--dark-grayish-blue);
    line-height: 1.7;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-large { /* The h1 element and the text at the simplify section */
    font-size: clamp(2.125rem, 2.5rem, 4rem);
}
/* ?STYLES FOR THE BUTTON ELEMENT */
button {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s cubic-bezier(.17, .67, .83, .67);
}
button.primary {
    background-color: var(--bright-red);
    color: var(--very-light-gray);
    box-shadow: hsla(12, 88%, 59%, 0.721) 0px 15px 20px -10px;
    &:active { /* When the primary button is clicked */
        background-color: hsla(12, 88%, 59%, 0.65);
    }
}
button.secondary {
    background-color: var(--very-light-gray);
    color: var(--bright-red);
    &:active { /* When the secondary button is clicked */
        color: hsla(12, 88%, 59%, 0.6);
    }
}
/* ?SETTING MAXIMUM WIDTHS */
.content-container,
header > nav {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}
/* ?STYLING THE HERO SECTION OF THE PAGE */
#hero {
    background-image: url("images/bg-tablet-pattern.svg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top -20% right 250%;
}
header { /* The navigation bar */
    padding-block: 2rem;
    & nav {
        justify-content: space-between;
        align-items: center;
    }
    & nav.desktop { /* Making the desktop nav invisible on mobile screens */
        display: none;
    }
    & nav.mobile {
        display: flex;
        font-size: 32px;
        & img#logo {
            width: 120px;
        }
        & ion-icon {
            color: var(--dark-blue);
        }
    }
}
#hero-content {
    & img:not(.hero-content-bg) {
        width: 100%;
    }
    & .hero-content-text { /* The text in the hero section of the page */
        position: relative;
        padding-bottom: 6rem;
        & img { /* The background image in the hero */
            position: absolute;
            inset: auto -45% 0 auto;
            width: 80%;
            z-index: -1;
        }
        & p {
            margin-block: 1rem 2rem;
        }
    }
}
/* ?STYLING THE ABOUT SECTION OF THE PAGE */
#about-content {
    padding-bottom: 4rem;
    & .about-content-intro {
        & p {
            margin-top: 1.25rem;
        }
    }
    & .content-point { /* Each point in the about section */
        margin-top: 3rem;
        & .point-heading {
            width: 110%;
            display: flex;
            align-items: center;
            gap: .625rem;
            margin-bottom: 1rem;
            font-size: clamp(.8rem, 1rem, 2rem);
            font-weight: 500;
            background-color: var(--very-pale-red);
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            & span { /* The number indicator for each point in the about section */
                background-color: var(--bright-red);
                color: var(--very-light-gray);
                padding: 1rem 2rem;
                border-radius: 2rem;
            }
        }
    }
}
/* ?STYLING THE TESTIMONIALS SECTION OF THE PAGE */
#testimonials-content {
    padding-bottom: 2.5rem;
    & .testimonials-content-bg { /* Hiding the background of the desktop screen */
        display: none;
    }
    & .testimonials {
        margin-block: 6rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        & .testimonial {
            position: relative;
            background-color: var(--very-light-gray);
            padding: 3.5rem 2rem 3rem;
            & img { /* The profile photos of each testimonial */
                width: 70px;
                position: absolute;
                inset: -35px 50% auto 50%;
                transform: translateX(-50%);
            }
            & p.name {
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
    }
}
/* ?STYLING THE SIMPLIFY SECTION OF THE PAGE */
#simplify {
    background-color: var(--bright-red);
    background-image: url("images/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% left;
    padding-block: 6rem 5rem;
    & #simplify-content {
        padding-inline: 2.25rem;
        & h2 {
            color: var(--very-light-gray);
            margin-bottom: 2rem;
        }
    }
}
/* ?STYLING THE FOOTER */
#footer {
    background-color: var(--very-dark-blue);
    color: var(--very-light-gray);
    padding-block: 2.5rem 2rem;
    #footer-content {
        padding-inline: 2.25rem;
        & .email {
            & .email-content {
                display: flex;
                gap: .625rem;
                & input {
                    border: none;
                    border-radius: 2rem;
                    padding: 1rem;
                    color: var(--bright-red);
                    font-weight: 500;
                    &:focus { /* When the input is in focus */
                        outline: 1.5px solid var(--bright-red);
                    }
                }
                & button {
                    box-shadow: none;
                }
            }
            & p.text-center.desktop { /* Hiding the desktop copyright text */
                display: none;
            }
        }
        & .footer-nav-links {
            padding-inline: 2.125rem;
            margin-block: 2rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            & a {
                transition: .3s ease;
                &:active { /* When each link is clicked */
                    color: var(--bright-red);
                }
            }
        }
        & .footer-links {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 3.5rem;
            & .socials { /* The social icons */
                font-size: 40px;
                display: flex;
                justify-content: space-between;
                & ion-icon {
                    cursor: pointer;
                    transition: .3s ease;
                    &:active {
                        color: var(--bright-red);
                    }
                }
            }
        }
    }
}
/* ?MAKING THE DESIGN RESPONSIVE */
@media (min-width: 1024px) {
    header {
        & nav.mobile {
            display: none;
        }
        & nav.desktop {
            display: flex;
            & ul {
                display: flex;
                gap: 1.5rem;
                list-style: none;
                & li {
                    cursor: pointer;
                    color: var(--dark-blue);
                    transition: .2s ease;
                    &:active {
                        color: var(--bright-red);
                    }
                }
            }
        }
    }
    #hero {
        background-size: 700px;
        background-position: top -150px right -180px;
    }
    #hero-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        & img:not(.hero-content-bg), 
        & .hero-content-text {
            flex: 1;
        }
        & .hero-content-text {
            text-align: start;
            & h1 {
                max-width: 85%;
                font-size: 3.5rem;
            }
            & p {
                max-width: 62%;
            }
            & img {
                display: none;
            }
        }
    }
    #testimonials-content {
        position: relative;
        & .testimonials-content-bg {
            display: block;
            position: absolute;
            width: 60%;
            inset: -55% auto auto -40%;

        }
        & .testimonials {
            flex-direction: row;
        }
    }
    #about-content {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 4rem;
        & .about-content-intro {
            text-align: start;
        }
        & .content-point {
            &:first-child {
                margin: 0;
            }
            & .point-heading {
                width: 100%;
                background-color: unset;
            }
        }
    }
    #simplify {
        background-image: url("images/bg-simplify-section-desktop.svg");
        padding-block: 3rem;
        & #simplify-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .text-large {
                text-align: start;
                max-width: 50%;
            }
        }
    }
    #footer {
        & #footer-content {
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;
            padding-block: 2.5rem 3.5rem;
            & .footer-links {
                order: 1;
                align-items: start;
                flex-direction: column-reverse;
                gap: 5rem;
                margin: 0;
                & .socials {
                    font-size: 32px;
                    gap: 1rem;
                }
                & img#logo {
                    width: 200px;
                }
            }
            & .footer-nav-links {
                order: 2;
                margin: 0;
                padding: 0;
            }
            & .email {
                order: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5rem;
                & p.text-center.desktop { /* Making the desktop copyright text visible */
                    display: block;
                }
            }
            & p.text-center.mobile { /* Removing the mobile copyright text */
                display: none;
            }
        }
    }
}